/*
 * ThemeMascot custom-bootstrap-margin-padding
 * -----------------------------------------------
*/
/* Margin */

.mt-30 {
  margin-top: 30px !important; }

.mt-40 {
  margin-top: 40px !important; }

.mt-60 {
  margin-top: 60px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.mb-40 {
  margin-bottom: 40px !important; }

.mb-60 {
  margin-bottom: 60px !important; }

/* Padding */
