$colors: (
   common: (
      white: #ffffff,
      black: #3a3a3a,
   ),
   heading: (
      primary: #3a3a3a,
      primary9: #575757,
   ),
   text: (
      body: #727272,
      body2: #e7e7e7,
      body3: #f2f5f9,
      body9: #818181,
   ),
   theme: (
      primary: #5f39ff,
      secondary: #20d9a1,
      h5-primary: #fd31bc,
      h5-primary-2: #fff6fe,
      h7-primary-3: #fff6fe,
      h7-primary-4: #e82132,
      h7-primary-5: #fff5f5,
      h7-primary-6: #ffecee,
      h5-secondary: #3100ff,
      h7-secondary: #222020,
      h6-primary: #ff3344,
      h6-bg: #fff7f8,
      h8-primary: #a9a9fa,
      h8-primary-1: #e3f7fa,
      h8-primary-2: #bcb4ff,
      h8-primary-3: #f0faff,
      h8-primary-4: #f8f7ff,
      h9-primary: #fbb500,
      h9-primary-1: #fffef8,
      h9-primary-2: #fff7de,
      h9-primary-3: #fffbef,
      h9-primary-4: #9f9780,
      h9-primary-5: #1e1e1e,
      h9-primary-6: #fffdf6,
      h10-primary: #5c41fb,
      h10-primary-1: #e6fff9,
      h10-primary-2: #bcb4ff,
      h10-primary-3: #8184f6,
      h10-primary-4: #bcd7f6,
   ),
   grey: (
      1: #dcdee7,
      2: #0e0e0e,
      3: #313131,
      4: #d9d9d9,
      5: #fafafc,
      6: #282828,
      7: #dcdee7,
      8: #eeecff,
      9: #a1acb3,
      10: #f8f7ff,
      11: #575757,
      12: #a9a9fa,
      13: #e3f7fa,
      14: #f7f7f7,
      15: #fbfbfb,
   ),
   light: (
      1: #e4e1ff,
      2: #f8f7ff,
      3: #705fff,
      4: #fafffd,
      5: #d4fff2,
      6: #9e92ff,
      7: #e4e1ff,
      8: #d6d1ff,
      9: #3f8acf,
      10: #8677ff,
      11: #3100ff,
      12: #fd31bc,
      13: #f5f4ff,
      14: #fff5f6,
      15: #575757,
   ),
   extra: (
      1: #ff647c,
      2: #ffb800,
      3: #0cb770,
      4: #7b61ff,
   ),
   border: (
      1: #e4e1ff,
      2: #bcb4ff,
      3: #a1acb3,
      4: #705fff,
      5: #575757,
      6: #ff3344,
      7: #dcdee7,
      8: #f2f5f9,
   ),
);
